<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>vc</key>
			<string>WTPlayer7VC</string>
			<key>title</key>
			<string>FFmpeg音视频解码同步</string>
			<key>method</key>
			<string>clickCellAction:</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTPlayFilte6VC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>FFmpeg滤镜界面</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTMainController</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>直播列表界面</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTTestVC4</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>FFmpeg截图-切换分辨率崩溃</string>
		</dict>
	</array>
</dict>
</plist>
